<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>留言列表</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="../images/style.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<!-- js -->
<script type="text/javascript" src="js/jquery-1.8.0.min.js" ></script>
<script type="text/javascript" src="js/admin.min.js" ></script>
</head>

<body>
<div class="wrap admin_page">
	<div class="header fn_clear">
		<div class="fn_left"><!-- 
			<a href="http://ganline.com/" target="_blank" class="logo">
				<img src="img/admin-logo.gif" alt="LINECMS 橄榄传媒网站内容管理系统">
			</a> --> 
			<i> ，欢迎使用网站管理系统 </i> </div>
		<div class="fn_right admin_btn"> <a class="a1" href="cleancache.php.html">清除缓存</a><a class="a2" href="logout.php.html">注销</a> </div>
	</div>
	<div class="admin_nav"> 当前位置：<a href="index.php.html">后台</a> > 留言列表 </div>
	<div class="main admin_content fn_clear">
		<div class="admin_menu" id="main_nav">
		</div>
		<div class="main_body">
			<table class="inputform" cellpadding="1" cellspacing="1">
				<tbody>
					<tr><td class="label">留言标题</td><td class="input">我对贵公司产品感兴趣</td></tr>
					<tr><td class="label">留言人</td><td class="input">2</td></tr>
					<tr><td class="label">联系方式</td><td class="input">2</td></tr>
					<tr><td class="label">留言内容</td><td class="input">2</td></tr>
					<tr><td class="label">留言时间</td><td class="input">2014-09-27 03:37:36</td></tr>
					<tr><td class="label">回复</td><td class="input">
						<textarea name="" id="" style="width:400px"  rows="10"></textarea><br>
						<input id="submitbtn" type="submit" class="subtn" value="提交回复">
					</td></tr>
				</tbody>
			</table>
			<div class="switch_item">
				<a href="#" class="prev">上一条：这是上一条信息</a>
				<a href="#" class="next">下一条：我对贵司的产品很有兴趣</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>
