<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>URL设置</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<link th:href="@{/images/style.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
	<!-- js -->
	<script type="text/javascript" th:src="@{/js/jquery-1.8.0.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/admin.min.js}" ></script>
</head>

<body>
<div class="wrap admin_page">
	<div class="header fn_clear">
		<div class="fn_left"><!-- 
			<a href="http://ganline.com/" target="_blank" class="logo">
				<img src="img/admin-logo.gif" alt="LINECMS 橄榄传媒网站内容管理系统">
			</a> --> 
			<i> ，欢迎使用网站管理系统 </i> </div>
		<div class="fn_right admin_btn">  <a class="a2" th:href="@{/userlogout}">注销</a> </div>
	</div>
	<div class="admin_nav"> 当前位置：<a href="index.php.html">后台</a> > URL设置 </div>
	<div class="main admin_content fn_clear">
		<div class="admin_menu" id="main_nav">
			<div class="menu_dl">
				<dl id="iteam-home" class="frap sole">
					<dt> <a th:href="@{/}" target="_blank">回到网站首页</a> <i class="ico"></i> </dt>
				</dl>
				<div>
					<dl id="iteam-lantern">
						<dt> <a href="javascript:;">广告设置</a> <i class="ico"></i> </dt>
						<dd> <a th:href="@{/admin/manger/gethengfulist}" >广告位</a> </dd>
						<dd> <a th:href="@{/admin/manger/addhengfu}">添加横幅</a> </dd>
					</dl>
					<dl id="iteam-article">
						<dt > <a href="javascript:;">新闻管理</a> <i class="ico"></i> </dt>
						<dd class='on' > <a th:href="@{/admin/news/addnew}">添加文章</a> </dd>
						<dd> <a th:href="@{/admin/news/newslist}">内容管理</a> </dd>
						<dd> <a th:href="@{/admin/news/getcategorylist}">文章分类</a> </dd>
						<dd> <a th:href="@{/admin/news/addcategory}">添加分类</a> </dd>
					</dl>
				</div>
				<dl id="iteam-comments" >
					<dt > <a href="javascript:;">招商留言</a> <i class="ico"></i> </dt>
					<dd> <a th:href="@{/admin/liuyan/liuyanlist}">留言列表</a> </dd>
				</dl>
			</div>
		</div>
		<div class="main_body">
			<form id="sform" th:action="@{/admin/news/addCategory}" method="post">
				<input type="hidden" th:value="${category.id}" name="id"/>
				<table class="inputform" cellpadding="1" cellspacing="1">
					<tbody>
						<tr>
							<td class="label">分类名称</td>
							<td class="input"><input type="text" th:value="${category.name}" class="txt" name="categoryname"/></td>
						</tr>

					</tbody>
				</table>
				<div class="inputsubmit">
					<input id="submitbtn" type="submit" class="subtn" value="提交"/>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
    $("input[name='html']").each(function(){
    	if($(this).val() == "true")
    	{
    		$(this).attr("checked","checked");
    	}
    });
});
</script>
</body>
</html>
