<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>分类列表</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<link th:href="@{/images/style.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
	<!-- js -->
	<script type="text/javascript" th:src="@{/js/jquery-1.8.0.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/admin.min.js}" ></script>
</head>

<body>
<div class="wrap admin_page">
	<div class="header fn_clear">
		<div class="fn_left"><!--
			<a href="http://ganline.com/" target="_blank" class="logo">
				<img src="img/admin-logo.gif" alt="LINECMS 橄榄传媒网站内容管理系统">
			</a> -->
			<i> ，欢迎使用网站管理系统 </i> </div>
		<div class="fn_right admin_btn"> <a class="a2" th:href="@{/userlogout}">注销</a> </div>
	</div>
	<div class="admin_nav"> 当前位置：<a href="index.php.html">后台</a> > URL设置 </div>
	<div class="main admin_content fn_clear">
		<div class="admin_menu" id="main_nav">
			<div class="menu_dl">
				<dl id="iteam-home" class="frap sole">
					<dt> <a href="#" target="_blank">回到网站首页</a> <i class="ico"></i> </dt>
				</dl>
				<div>
					<dl id="iteam-lantern">
						<dt> <a href="javascript:;">广告设置</a> <i class="ico"></i> </dt>
						<dd th:class="${local eq 1}?'on'"> <a th:href="@{/admin/manger/gethengfulist}" >广告位</a> </dd>
						<dd th:class="${local eq 2}?'on'"> <a th:href="@{/admin/manger/addhengfu}">添加横幅</a> </dd>
					</dl>
					<dl id="iteam-article">
						<dt > <a href="javascript:;">新闻管理</a> <i class="ico"></i> </dt>
						<!--<dd class='on' > <a th:href="@{/admin/news/addnew}">添加文章</a> </dd>-->
						<dd th:class="${local eq 3}?'on'"> <a th:href="${addnewsaddress}">添加文章</a> </dd>
						<dd th:class="${local eq 4}?'on'"> <a th:href="@{/admin/news/newslist}">内容管理</a> </dd>
						<dd th:class="${local eq 5}?'on'"> <a th:href="@{/admin/news/getcategorylist}">文章分类</a> </dd>
						<dd th:class="${local eq 6}?'on'">  <a th:href="@{/admin/news/addcategory}">添加分类</a> </dd>
					</dl>
				</div>
				<dl id="iteam-comments" >
					<dt > <a href="javascript:;">招商留言</a> <i class="ico"></i> </dt>
					<dd th:class="${local eq 7}?'on'"> <a th:href="@{/admin/liuyan/liuyanlist}">留言列表</a> </dd>
				</dl>
			</div>
		</div>
		<div class="main_body">
			<form action="" method="post" lpformnum="1">
				<table class="inputform" cellpadding="1" cellspacing="1">
					<tbody>
						<tr style="background:#f6f6f6;">
							<td class="w10">分类ID</td>
							<td class="w50">分类名称</td>
							<td class="w50">操作</td>
						</tr>
						<tr th:each="category : ${categorys}">
							<td th:text="${category.id}"></td>
							<td><a href="../category.php?name=writer" target="_blank" th:text="${category.name}"></a></td>
							<td><a th:style="${category.id eq 1}?'display:none'" th:href="@{/admin/news/updateCategory(id=${category.id})}">编辑 |</a>  <a th:style="${category.id eq 1}?'display:none'" th:href="@{/admin/news/deleteCategory(id=${category.id})}"><font color="red">删除</font></a> </td>
						</tr>
					</tbody>
				</table>

			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
    $("input[name='html']").each(function(){
    	if($(this).val() == "true")
    	{
    		$(this).attr("checked","checked");
    	}
    });
});
</script>
</body>
</html>
