<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>幻灯片管理</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link th:href="@{/images/style.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
<!-- js -->
<script type="text/javascript" th:src="@{/js/jquery-1.8.0.min.js}" ></script>
<script type="text/javascript" th:src="@{/js/admin.min.js}" ></script>
</head>

<body>
<div class="wrap admin_page">
	<div class="header fn_clear">
		<div class="fn_left"><!-- 
			<a href="http://ganline.com/" target="_blank" class="logo">
				<img src="img/admin-logo.gif" alt="LINECMS 橄榄传媒网站内容管理系统">
			</a> --> 
			<i> ，欢迎使用网站管理系统 </i> </div>
		<div class="fn_right admin_btn">  <a class="a2" th:href="@{/userlogout}">注销</a> </div>
	</div>
	<div class="admin_nav"> 当前位置：<a href="index.php.html">后台</a> > 幻灯片管理 </div>
	<div class="main admin_content fn_clear">
		<div class="admin_menu" id="main_nav">
			<div class="menu_dl">
				<dl id="iteam-home" class="frap sole">
					<dt> <a href="#" target="_blank">回到网站首页</a> <i class="ico"></i> </dt>
				</dl>
				<div>
					<dl id="iteam-lantern">
						<dt> <a href="javascript:;">广告设置</a> <i class="ico"></i> </dt>
						<dd> <a th:href="@{/admin/manger/gethengfulist}" >广告位</a> </dd>
						<dd> <a th:href="@{/admin/manger/addhengfu}">添加横幅</a> </dd>
					</dl>
					<dl id="iteam-article">
						<dt > <a href="javascript:;">新闻管理</a> <i class="ico"></i> </dt>
						<dd class='on' > <a th:href="@{/admin/news/addnew}">添加文章</a> </dd>
						<dd> <a th:href="@{/admin/news/newslist}">内容管理</a> </dd>
						<dd> <a th:href="@{/admin/news/getcategorylist}">文章分类</a> </dd>
						<dd> <a th:href="@{/admin/news/addcategory}">添加分类</a> </dd>
					</dl>
				</div>
				<dl id="iteam-comments" >
					<dt > <a href="javascript:;">招商留言</a> <i class="ico"></i> </dt>
					<dd> <a th:href="@{/admin/liuyan/liuyanlist}">留言列表</a> </dd>
				</dl>
			</div>
		</div>

		<div class="main_body">
			<form id="sform" action="lantern.php" method="post">
				<table class="inputform" cellpadding="1" cellspacing="1">
					<tr class="th">
						<td>编号</td>
						<td>标题</td>
						<td>图片</td>
						<!--<td>状态</td>-->
						<td>操作</td>
					</tr>
					<tr th:each="product : ${data.content}">
						<td th:text="${productStat.count}">33</td>
						<td th:text="${product.title}">-</td>
						<td><img th:src="@{'/'+${product.image}}" style='width:200px; height:auto;'/> </td>
						<!--<td>生效</td>-->
						<td><a th:href="@{/admin/manger/getOnehengfu(id=${product.id})}">编辑</a> | <a th:href="@{/admin/manger/deletehengfu(id=${product.id})}" onclick="confirm('确定要删除吗？');">删除</a></td>
					</tr>
				</table>
				<div class="inputsubmit" style="padding-left:90px;">
					<input id="submitbtn" type="submit" class="subtn" value="提交" />
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>
