<div class="menu_dl">
	<dl id="iteam-home" class="frap sole">
		<dt> <a href="#" target="_blank">回到网站首页</a> <i class="ico"></i> </dt>
	</dl>
	<div>
		<dl id="iteam-lantern">
			<dt> <a href="javascript:;">广告设置</a> <i class="ico"></i> </dt>
			<dd> <a th:href="@{/admin/manger/gethengfulist}" >广告位</a> </dd>
			<dd> <a th:href="@{/admin/manger/addhengfu}">添加横幅</a> </dd>
		</dl>
		<dl id="iteam-article">
			<dt > <a href="javascript:;">新闻管理</a> <i class="ico"></i> </dt>
			<dd class='on' > <a href="4发布_修改.html">添加文章</a> </dd>
			<dd> <a href="2内容管理.html">内容管理</a> </dd>
		</dl>
	</div>
	<dl id="iteam-comments" >
		<dt > <a href="javascript:;">招商留言</a> <i class="ico"></i> </dt>
		<dd> <a href="7招商留言.html">留言列表</a> </dd>
	</dl>
</div>