<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>文章列表</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
<!-- js -->
	<script type="text/javascript" th:src="@{/js/jquery-1.8.0.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/admin.min.js}" ></script>
</head>
<body>
<div class="wrap admin_page">
	<div class="header fn_clear">
		<div class="fn_left"><!-- 
			<a href="http://ganline.com/" target="_blank" class="logo">
				<img src="img/admin-logo.gif" alt="LINECMS 橄榄传媒网站内容管理系统">
			</a> --> 
			<i> ，欢迎使用网站管理系统 </i> </div>
		<div class="fn_right admin_btn"> <a class="a2" th:href="@{/userlogout}">注销</a> </div>
	</div>
	<div class="admin_nav"> 当前位置：<a href="index.php.html">后台</a> > 文章列表 </div>
	<div class="main admin_content fn_clear">
		<div class="admin_menu" id="main_nav">
			<div class="menu_dl">
				<dl id="iteam-home" class="frap sole">
					<dt> <a href="#" target="_blank">回到网站首页</a> <i class="ico"></i> </dt>
				</dl>
				<div>
					<dl id="iteam-lantern">
						<dt> <a href="javascript:;">广告设置</a> <i class="ico"></i> </dt>
						<dd> <a th:href="@{/admin/manger/gethengfulist}" >广告位</a> </dd>
						<dd> <a th:href="@{/admin/manger/addhengfu}">添加横幅</a> </dd>
					</dl>
					<dl id="iteam-article">
						<dt > <a href="javascript:;">新闻管理</a> <i class="ico"></i> </dt>
						<dd class='on' > <a th:href="@{/admin/news/addnew}">添加文章</a> </dd>
						<dd> <a th:href="@{/admin/news/newslist}">内容管理</a> </dd>
						<dd> <a th:href="@{/admin/news/getcategorylist}">文章分类</a> </dd>
						<dd> <a th:href="@{/admin/news/addcategory}">添加分类</a> </dd>
					</dl>
				</div>
				<dl id="iteam-comments" >
					<dt > <a href="javascript:;">招商留言</a> <i class="ico"></i> </dt>
					<dd> <a th:href="@{/admin/liuyan/liuyanlist}">留言列表</a> </dd>
				</dl>
			</div>
		</div>
		<div class="main_body">

			<!--<div>-->
				<!--<a href="#" >未分类-默认</a>-->
				<!--<label th:text="${categorys}"></label>-->
				<!--<a href="javascript:;" class="manage"><i></i>类目管理</a>-->
			<!--</div>-->

			<table class="inputform" cellpadding="1" cellspacing="1">
				<tr class="th">
					<td class="w50">文章标题</td>
					<td class="20">所属分类</td>
					<td class="w10">发布时间</td>
					<td class="w10">相关操作</td>
				</tr>
				<tr th:each="product : ${data.content}">
					<td th:text="${product.title}"><a href="#" target="_blank">这是文章标题</a></td>
					<td th:text="${product.category}"><a href="#">集团动态</a></td>
					<td  th:text="${#dates.format(product.time,'yyyy-MM-dd')}"><span title="该文章已发布" >2012-01-01</span></td>
					<td><a th:href="@{/admin/news/updatenews(id=${product.id})}"> 修改</a></td>
				</tr>
			</table>
			<div class="num_list">
			</div>
			<script th:src="@{/js/jquery.page.js}"></script>
			<script th:inline="javascript">
                $(".num_list").createPage({
                    pageCount:[[${data.totalPages}]],
                    current:[[${data.number+1}]],
                    backFn:function(p){
//                        alert("页数："+p)
                        window.location.href="newslist?n="+p;
                    }
                    //     pageCount：总页数
                    // current：当前页
                });
			</script>
			<div class="p10">
				<div class="fr"> 共8条文章 当前1/1页 </div>
				<div><strong>提示："定时发布"的文章，只有管理员可以看到，未到发布时间不能在前台显示，正式发布后，会自动显示。<br />
					“已发布”的文章，任何人都可正常访问。<br/>
					</strong></div>
			</div>
		</div>
	</div>
</div>
<div class="ui-popup" style="border: 5px solid #dadada; padding: 20px; background-color: #fff; display: none;">
	<div style="width:300px; ">
		<h3>类目管理</h3>
		<p>删除已创建类目后，原类目下文章会移入“未分类”类目下，并不在前台显示</p>
		<div class="category_list">
			<ul th:each="category:${categorylist}">
				<li>未分类-默认</li>
				<li><input type="text" class="text" value="" th:text="${category.name}"/> 	<a href="javascript:;" class="del">删除</a></li>
			</ul>
		</div>
		<div class="btn_list">
			<input type="submit" class="subtn" value="提交"/>
			<a href="javascript:;" class="close_mini_popup">取消</a>
		</div>
	</div>
</div>

</body>
</html>
