<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/R2coreservice/js/testajax.js"></script>
</head>
<body>

<div id="div1"><h2>使用 jQuery AJAX 来改变文本</h2></div>

<button id="but2">按钮2</button>
<p id="demo"></p>
<dir id="div1">
    Username: <input id="name" type="text" name="user"></input>
    <input id="sub" type="submit" value="Submit"></input>
</dir>
<table id="table" border="1">
    <tr>
        <th>name</th>
        <th>age</th>
    </tr>
</table>


<div id="save"></div>

</body>
</html>