<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Model</title>
</head>
<body>
	<!-- 日期测试 -->
	日期测试
	<!--<p th:text="${#dates.format(date, 'dd/MMM/yyyy HH:mm')}" />-->
	<!--<p th:text="${#dates.createNow()}" />-->
	<!--<p th:text="${#dates.createToday()}" />-->
	<!--&lt;!&ndash; String测试 &ndash;&gt;-->
	<!--<p th:text="${#strings.length(name)}" />-->

	<p th:text="${name}" />
	<p th:text="${passwd}" />
	<p th:text="${kio}" />
</body>
</html>